{# templates/dashboard.html.twig #}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>{{urltitle}}</title>
    </head>
    <body>
        {% include 'nav_top.html.twig' %}

        <section class="tg-grid">
            <div class="container">
                <div class="row">
                    {% for game in tggames.games %}
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{game.image}}" alt="Game photo">
                            <div class="card-body">
                                <h5 class="card-title">{{game.name}}</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                {% if game.gamers is defined %}
                                    <!--Accordion wrapper-->
                                    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="false">
                                        {% for player in game.gamers %}
                                            <!-- Accordion card -->
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingOne{{player.id}}">
                                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne{{player.id}}" aria-expanded="true"
                                                       aria-controls="collapseOne{{player.id}}">
                                                        <h5 class="mb-0">
                                                            {{player.name}} <i class="fas fa-angle-down rotate-icon"></i>
                                                        </h5>
                                                    </a>
                                                </div>

                                                <div id="collapseOne{{player.id}}" class="collapse" role="tabpanel" aria-labelledby="headingOne{{player.id}}" data-parent="#accordionEx">
                                                    <div class="card-body">
                                                        {{player.bio}}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>





        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    </body>
</html>