{# templates/base.html.twig #}
{% extends "base.html.twig" %}

{% block content %}
        <section>
            <div class="container">
                <div class="row">
                    {% if tggames == false %}
                        <div class="col-md-12">
                            <div class="alert alert-warning" role="alert">
                                <strong>Notice:</strong> No data obtained from server.
                            </div>
                        </div>
                    {% else %}    
                    {% for game in tggames.games %}
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card my-3 pb-1">
                            <div class="card-img-top tg-banner-con tg-adapt-img mb-3" style="background-image: url('{{game.image}}');">
                                <div class="tg-banner-cover">
                                    <h5 class="card-title text-center tg-card-text m-2">{{game.name}}</h5>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                {% if game.gamers is defined %}
                                    <!--Accordion wrapper-->
                                    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="false">
                                        {% for player in game.gamers %}
                                            <!-- Accordion card -->
                                            <div class="card tg-acc mx-2 my-1">
                                                <div class="card-header" role="tab" id="headingOne{{game.id}}{{player.id}}">
                                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne{{game.id}}{{player.id}}" aria-expanded="true" aria-controls="collapseOne{{game.id}}{{player.id}}">
                                                        <div class="mb-0">
                                                            <div class="d-flex justify-content-end align-items-center">
                                                                <div class="rounded d-inline mr-2 tg-adapt-img tg-profile-img" style="background-image: url('{{player.image}}');"></div>
                                                                <h5 class="mb-0">
                                                                    <strong>{{player.position}}</strong>
                                                                    {{player.name}}
                                                                </h5>
                                                                <div class="ml-auto">
                                                                    <img class="tg-flag" src="{{player.flag}}"> <i class="fas fa-caret-down"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </a>
                                                </div>

                                                <div id="collapseOne{{game.id}}{{player.id}}" class="collapse" role="tabpanel" aria-labelledby="headingOne{{game.id}}{{player.id}}" data-parent="#accordionEx">
                                                    <div class="card-body mx-3 text-white">
                                                        <p>{{player.bio}}</p>
                                                        <p>Server: <strong>{{player.server}}</strong></p>
                                                        <div class="d-flex justify-content-center">
                                                            <a role="button" class="btn btn-outline-info mx-1" href="{{player.youtube}}"><i class="fab fa-youtube"></i></a>
                                                            <a role="button" class="btn btn-outline-info mx-1" href="{{player.twitch}}"><i class="fab fa-twitch"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </ul>
                        </div>
                        </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
{% endblock %}